/* Global Defaults */
html, body {
margin: 0px;
padding: 0px;
border: 0px;
}
body {
font: 1em/1.25 "Lato", sans-serif;
font-weight: bold;
}

/* Headlines */
h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
font-weight: bold;
font-family: "Lato", sans-serif;
}

/* Text Styles */
p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
margin: 0;
padding: 0;
font: normal normal normal 1em/1.25 "Lato", sans-serif;
}
blockquote {
margin: 1.25em;
padding: 1.25em
}
q {
font-style: italic;
}
acronym, abbr {
cursor: help;
border-bottom: 1px dashed;
}
small {
font-size:.85em;
}
big {
font-size:1.2em;
}

/* Links and Images */
a, a:link, a:visited, a:active, a:hover {
text-decoration: underline;
}
img {
border: none;
}

/* Tables */
table {
margin: 0;
padding: 0;
border: none;
}

/* Forms */
form {
margin: 0;
padding: 0;
display: inline;
}
label {
cursor: pointer;
}

/* Common Classes */
.clear { clear: both; }
.floatLeft { float: left; }
.floatRight { float: right; }
.textLeft { text-align: left; }
.textRight { text-align: right; }
.textCenter { text-align: center; }
.textJustify { text-align: justify; }
.blockCenter { display: block; margin-left: auto; margin-right: auto; } /* remember to set width */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.noindent { margin-left: 0; padding-left: 0; }
.nomargin { margin: 0; }
.nopadding { padding: 0; }
.nobullet { list-style: none; list-style-image: none; }

.background {
  background-size: 1366px 1200px;
  background-position: floatRight;
  background-image: url("/Users/Deb/Documents/tjswelding/img/weldingbgd.jpg");
}


/* header */
.header h1 {
margin: 0;
padding: 0;
font-weight: bold;
font-family: "Lato", sans-serif;
font-size: 4em;
text-align: left;
}

/* tagline */

.tagline {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 2.75em 0 2.75 0;
  color: #ff0000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: 1.5em;
}

/* logo */
.logo {
  background-color: #333333;
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    text-align: center;
    float: left;
}

/* nav */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 1.3em;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


/* tagline */

.tagline h2 {
  color: #FFAF3A;
  margin-top: 400px;
  margin-left: 5px;
  font-size: 3.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .tagline2 h2 {
    text-align: center;
    font-size: 2.5em;
  }

/* slider */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
  /* footer */

.footer {
  display: inline;
  padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  text-align: center;
}
